    body {
      background-color:#f0f0f0;
    }

    .results {
      margin: auto;
      text-align: center;
    }

    /* CSS3 Animation to display Title on hover */
    ul.img-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
  }

    ul.img-list li {
      display: inline-block;
      margin: 0 0.5em 0.2em 0;
      position: relative;
      width: 150px;
      height:100px;
  }

    ul.img-list img {
      border-radius: 15px;
  }

    span.text-content {
      background: rgba(0,0,0,0.6);
      border-radius: 15px;
      color: white;
      cursor: pointer;
      display: table;
      font-size: 1.5em;
      height: 113px;
      left: 0;
      position: absolute;
      top: 0;
      width: 150px;
      opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  }

    span.text-content span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size:small;
      max-width:150px;
  }

    ul.img-list li:hover span.text-content {
      opacity: 1;
  }

  /* End of CSS3 Animation */

  .caption {
    padding-bottom:0.5em;
  }

  .thumbnail {
    border:none!important;
    background-color:#f0f0f0;
  }
